html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.main-content {
    position: relative;
    top: 5.3125rem;
}

.center {
    text-align: center;
}

.button {
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    display: block;
}

@media only screen and (max-width: 760px) {
    .main-content {
        top: 2.5625rem;
    }
}

header {
    position: fixed;
    width: 100%;
    background-color: hsl(26, 67%, 18%);
    height: 5.3125rem;
    z-index: 100;
    font-weight: 1;
    color: white;
    margin-top: -3vh;
    margin-left: -3vh;
    width: 102vw;
    text-decoration: none;
}

header .content {
    display: flex;
    align-items: center;
    padding: 1.875rem;
    text-decoration: none;
    margin-top: -2.75vh;
}

header .logo {
    flex: 1;
    font-family: 'Roboto';
    font-size: 15.5px;
    letter-spacing: 0.25px;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
}

header nav ul {
    display: flex;
    text-decoration: none;
}

header .desktop-logo {
    color: white;
    list-style: none;
}

nav li {
    padding-left: 3.5rem;
    color: white;
    text-decoration: none;
}

nav a {
    vertical-align: bottom;
    line-height: 1.6;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}
header li a {
    list-style: none;
    list-style-type: none;
}
header .icon {
    width: 1rem;
    padding-left: .75rem;
    vertical-align: middle;
    color: white;
}

header .desktop {
    margin-left: 120vh;
    margin-bottom: 3vh;
    list-style: none;
    list-style-type: none;
    margin-top: 1.5vh;
}

.mobile ul li {
    display: none;
}

@media only screen and (max-width: 480px) {
    header .desktop {
        display: none;
    }

    header {
        height: 3rem;
    }

    #sign-up-section {
        height: 20rem;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .content {
        padding: .5rem 0;
    }

    header .mobile li {
        padding: 0;
    }

    header .mobile .button {
        padding: .1875rem .5rem;
        background-color: #9dc20b;
        line-height: 1.6;
        color: white;
    }
}

.desktop-logo {
    text-decoration: none;
}

footer {
    background-color: #9b9b9b;
    padding: 1.5rem 2rem;
    height: 30vh;
    width: 97.75vw;
    margin-left: -5vh;
}

footer .content {
    color: white;
    display: flex;
    font-size: .75rem;
}

footer .copyright {
    margin-top: 29vh;
    margin-left: -110vh;
    margin-right: 70vh;

}

footer .location {
    margin-top: 29vh;
}

footer .footer-link-1 {
    height: 5vh;
    margin-top: 18vh;
    margin-left: 162vh;
    margin-right: 3vh;
}

footer .footer-link-2 {
    height: 6vh;
    width: 7vh;
    margin-top: 17vh;
    margin-right: 3vh;
}

footer .footer-link-3 {
    margin-top: 18vh;
    height: 5vh;
}

@media only screen and (min-width: 760px) {
    footer .content {
        font-size: .625rem;
    }
}